---
- name: create ~/dev
  file:
    path: ~/dev
    state: directory

- name: create ~/.zsh
  file:
    path: ~/.zsh
    state: directory

- name: download git-completion.bash
  get_url:
    url: https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.bash
    dest: ~/.zsh/git-completion.bash

- name: download git-completion.zsh
  get_url:
    url: https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.zsh
    dest: ~/.zsh/_git

- name: copy .zshrc
  register: copy_zshrc
  copy:
    src: files/.zshrc
    dest: ~/.zshrc

- name: add font awesome npm auth token
  lineinfile:
    path: ~/.zprofile
    line: "export FONTAWESOME_NPM_AUTH_TOKEN={{ fontawesome_npm_auth_token }}"
